/*----------------------------------------*/
/*  Theme default CSS
/*----------------------------------------*/

.container {
  width: 100%;
  max-width: 960px;
}

#ebay {
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: #b7b7b7;
  background: #333;
  margin: 15px 0;
  border-radius: 4px;
}

.container-fluid {
  position: relative;
}

.container-fluid img.bg {
  width: 100%;
  object-fit: cover;
  height: 200px;
  object-position: center 65%;
  border-radius: 4px;
}

.container-fluid img.logo {
  position: absolute;
  width: auto;
  height: 30px;
  top: 50px;
  left: 30px;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height:auto;
}

p {
  margin: 0 0 15px;
  max-width:  90%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #f0f0f0;
}

a:hover {
  color: #f45c5d;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0 none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #31363e;
}

.clear {
  clear: both;
}

.no-padding {
  padding: 0 !important;
}

.white {
  color: #ffffff !important;
}

.red {
  color: #f45c5d !important;
}

.orange {
  color: #ed9f4a;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.space-30 {
  height: 30px;
}

.f-16 {
	font-size: 16px;
}

.f-22 {
	font-size: 22px;
}

.py-5 {
	padding: 5px 0;
}

.w-170 {
	display: inline-block;
	width: 130px;
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

  .logo {
    margin: 0 auto;
  }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin: 0 auto;
  }
}
 
/* small mobile :320px. */
@media (max-width: 767px) {

  .logo {
    height: 24px;
  }
 
}
